@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

body {
  display: flex;
  background: linear-gradient(
    90deg,
    hsla(197, 100%, 63%, 1) 0%,
    hsla(294, 100%, 55%, 1) 100%
  );
  justify-content: center;
  font-family: "Gloria Hallelujah";
  font-size: 18px;
  text-align: center;
  color: black;
}

img {
  opacity: 1;
  margin: 15px;
  border-radius: 15px;
}
#transparentback {
  align-items: center;
  margin-top: 100px;
  margin-bottom: 200px;
  padding-top: 20px;
  width: 70%;
  border-radius: 15px;
  justify-content: center;
  background-color: HSLA(100, 100%, 100%, 0.5);
}

h1 {
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 0px;
}

h2,
h3 {
  padding: auto;
  margin: auto;
  font-weight: 700;
  text-transform: uppercase;
  color: #bb3cf0;
}
.pi {
  font-style: italic;
}

table {
  margin: auto;
  justify-content: center;
  text-align: center;
}

ol {
  text-align: center;
}
ul {
  list-style: circle;
}

#diva {
  background-color: white;
}

a {
  color: blue;
}

#divboutons {
  display: flex;
  justify-content: space-evenly;
}

#previous {
  transform: rotate(180deg);
}
