body {
  display: flex;
  background: linear-gradient(
    90deg,
    hsla(197, 100%, 63%, 1) 0%,
    hsla(294, 100%, 55%, 1) 100%
  );
  justify-content: center;

  text-align: center;
  color: black;
}

img {
  opacity: 1;
  margin: 15px;
  border-radius: 15px;
}
#transparentback {
  align-items: center;
  margin-top: 100px;
  margin-bottom: 200px;
  width: 70%;
  border-radius: 15px;
  justify-content: center;
  background-color: HSLA(100, 100%, 100%, 0.5);
}

h1,
h2,
h3 {
  margin-bottom: 10px;
  color: #bb3cf0;
}
.pi {
  font-style: italic;
}

p {
  margin: 20px;
}

table {
  margin: auto;
  justify-content: center;
  text-align: center;
}

ol {
  text-align: center;
}
ul {
  list-style: circle;
}

#diva {
  background-color: white;
}

a {
  color: blue;
}

#divboutons {
  display: flex;
  justify-content: space-evenly;
}

#previous {
  transform: rotate(180deg);
}
