@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

body {
  display: flex;
  background: linear-gradient(
    90deg,
    hsla(197, 100%, 63%, 1) 0%,
    hsla(294, 100%, 55%, 1) 100%
  );
  justify-content: center;
  font-family: "Gloria Hallelujah";
  font-size: 18px;
  text-align: center;
  color: black;
}

img {
  width: auto;
  opacity: 1;
  margin: 15px;
  border-radius: 15px;
}
#transparentback {
  align-items: center;
  margin-top: 100px;
  margin-bottom: 200px;
  padding-top: 20px;
  width: 70%;
  border-radius: 15px;
  justify-content: center;
  background-color: HSLA(100, 100%, 100%, 0.5);
}

h1 {
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 0px;
  color: #bb3cf0;
}

h2,
h3 {
  padding: auto;
  margin: auto;
  font-weight: 700;
  text-transform: uppercase;
  color: #bb3cf0;
}
.pi {
  font-style: italic;
}

table {
  margin: auto;
  justify-content: center;
  text-align: center;
}

#divhb,
#h2h,
ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: auto;
  text-align: left;
}

ul {
  list-style: circle;
}

#diva {
  background-color: white;
}

a {
  color: blue;
}

#divboutons {
  display: flex;
  justify-content: space-evenly;
}

#previous {
  transform: rotate(180deg);
}
@media screen and (max-width: 768px) {
  img {
    width: 70%;
  }
  table,
  td,
  th {
    width: 70%;
    height: 70%;
    border-style: solid;
    border-color: #bb3cf0;
  }
  li {
    text-align: left;
    width: 70%;
    height: 70%;
  }
}
